@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

.homeroster {
  background: #FFFFFF;
}

.homeroster-header {
    margin-bottom: 75px;
}

.center-circle {
    height: 545px;
    width: 545px;
    background-color: #F2F4FC;
    border-radius: 50%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.no-roster-text {
    color: #525566;
    width: 228px;
    height: 52px;
    text-align: center;
    font-size: 22.5px;
    font-family: 'Roboto', sans-serif;
}

.roster-icon {
    width: 245px;
    height: 285;
    margin-top: 47px;
    margin-bottom: 58px;
}

.roster-logo {
    width: 220px;
    height: 220px;
}

.add-roster-button {
    height: 47.7px;
    width: 179.1px;
    border-radius: 36px;
    background-color: rgb(18, 77, 241);
    box-shadow: 0 2px 8px 0 #75798C;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    border: none;
}

.add-roster-button:hover {
    background-color: #0D43CD;
  }

.aaa {
    text-decoration: none;
}

.roster-container {
    font-family: 'Roboto', sans-serif;
    height: 45px;
    width: 830px;
    background: #F5F7FA;
    border-radius: 4px;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    font-size: 11px;
    color: #656D78;
    margin: 6px;
    margin-left: 75px;
    padding: 15px 10px 0px 5px;
}

.roster-container-name {
    width: 103px;
    height: 30px;
    padding: 5px;
    padding-left: 0px;
    margin: -2px;
    font-size: 12px;
}

.roster-container-sport {
    width: 103px;
    height: 30px;
    padding: 5px;
    font-size: 11px;
}

.roster-container-time-zone {
    width: 103px;
    height: 30px;
    padding: 5px;
    font-size: 11px;
}

.roster-container-country {
    width: 103px;
    height: 30px;
    padding: 5px;
    font-size: 11px;
}

.roster-container-zip-code {
    width: 103px;
    height: 30px;
    padding: 5px;
    font-size: 11px;
}

.roster-container-logo {
    width: 50px;
    height: 30px;
    font-size: 11px;
}

.roster-container-button-edit {
    width: 62px;
    height: 29px;
    background-color: #525566;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    margin: 8px 8px 23px 8px;
}

.roster-container-button-edit:hover {
    background-color: #C7CBDC;
}

.roster-container-button-delete {
    width: 59px;
    height: 29px;
    background-color: #FF4553;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    margin: 8px 8px 23px 8px;
}

.roster-container-button-delete:hover {
    background-color: rgba(255, 69, 85, 0.47);
}

.roster-container-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    height: 41px;
    width: 830px;
    border-radius: 4px;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    font-size: 13px;
    color: #656D78;
    margin: 6px;
    margin-left: 75px;
    padding-left: 15px;
    padding-right: 10px;
}

.roster-container-name-title {
    width: 155.5px;
    height: 20px;
    margin: -23px;
}

.roster-container-button-edit-title {
    width: 59px;
    height: 25px;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
}

.roster-container-button-delete-title {
    width: 59px;
    height: 25px;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
}

.rosters-title-h1 {
    margin-top: 50px;
    padding-bottom: 200px;
    margin-left: -100px;
    font-family: 'Roboto', sans-serif;
    color: rgb(103, 106, 122);
    font-size: 30px;
}

.roster-container-button-new {
	height: 30px;
	width: 108px;
	border-radius: 5px;
    background-color: #525566;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .5px;
    margin-bottom: 25px;
}

.roster-container-button-new:hover {
    background-color: #C7CBDC;
}

.roster-container-button-new-1 {
    height: 35px;
    width: 108px;
    border: none;
    background: none;
    padding-right: 67px;
    padding-left: 66px;
}

/* TABLET */
.homeroster-tablet {
    background: #FFFFFF;
  }
  
  .center-circle-tablet {
      height: 365px;
      width: 365px;
      background-color: #F2F4FC;
      border-radius: 50%;
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
  .no-roster-text-tablet {
      color: #525566;
      width: 228px;
      height: 52px;
      text-align: center;
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      margin-top: 5px;
  }
  
  .roster-icon-tablet {
      width: 215px;
      height: 185px;
  }
  
  .roster-logo-tablet {
      width: 190px;
      height: 185px;
  }
  
  .add-roster-button-tablet {
      height: 42.7px;
      width: 159.1px;
      border-radius: 36px;
      background-color: rgb(18, 77, 241);
      box-shadow: 0 2px 8px 0 #75798C;
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      border: none;
  }
  
  .add-roster-button-tablet:hover {
      background-color: #0D43CD;
    }
  
  .aaa-tablet {
      text-decoration: none;
  }

  .roster-container-title-tablet {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    height: 41px;
    width: 350px;
    border-radius: 4px;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    font-size: 11px;
    color: #656D78;
    margin-right: none;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.roster-container-name-title-tablet{
    width: 64px !important;
    padding: 0px !important;
    margin-left: -6px !important;
}
  
  .roster-container-tablet-aaa {
    font-family: 'Roboto', sans-serif;
    height: 48px;
    width: 350px;
    background: #F5F7FA;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    font-size: 11px;
    color: #656D78;
    margin: none;
  }

  .roster-container-tablet {
    font-family: 'Roboto', sans-serif;
    height: 85px;
    width: 350px;
    background: #F5F7FA;
    border-radius: 4px;
    font-size: 11px;
    color: #656D78;
    margin-bottom: 51px;
    
}

  .roster-container-info-tablet {
    display: flex;
    flex-direction: row;
}

.roster-container-buttons-tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
  .roster-container-name-tablet {
    width: 68px;
    height: 20px;
    padding: 5px;
    font-size: 9px;
  }
  
  .roster-container-sport-tablet {
    width: 68px;
    height: 30px;
    padding: 5px;
    font-size: 9px;
  }
  
  .roster-container-time-zone-tablet {
    width: 68px;
    height: 20px;
    padding: 5px;
    font-size: 9px;
  }
  
  .roster-container-country-tablet {
    width: 68px;
    height: 20px;
    padding: 5px;
    font-size: 9px;
  }
  
  .roster-container-zip-code-tablet {
    width: 68px;
    height: 30px;
    padding: 5px;
    font-size: 9px;
  }
  
  .roster-container-button-edit-tablet {
      width: 62px;
      height: 29px;
      background-color: #525566;
      border-radius: 4px;
      color: #FFFFFF;
      border: none;
      margin: 2px 8px 18px 8px;
  }
  
  .roster-container-button-edit-tablet:hover {
      background-color: #C7CBDC;
  }
  
  .roster-container-button-delete-tablet {
      width: 62px;
      height: 29px;
      background-color: #FF4553;
      border-radius: 4px;
      color: #FFFFFF;
      border: none;
      margin: 2px 8px 18px 8px;
  }
  
  .roster-container-button-delete-tablet:hover {
      background-color: rgba(255, 69, 85, 0.47);
  }
  
  
  
  .roster-container-name-title-tablet {
      width: 70px;
      height: 20px;
      font-weight: 600;
      padding: 0px;
      margin: 0px;
  }
  
  .roster-container-button-edit-title-tablet {
      width: 59px;
      height: 25px;
      border-radius: 4px;
      color: #FFFFFF;
      border: none;
  }
  
  .roster-container-button-delete-title-tablet {
      width: 59px;
      height: 25px;
      border-radius: 4px;
      color: #FFFFFF;
      border: none;
  }
  
  .rosters-title-h1-tablet {
    font-family: 'Roboto', sans-serif;
    color: rgb(103, 106, 122);
    font-size: 28px;
    margin: auto;
    padding-bottom: 15px;
    padding-top: 25px;
  }
  
  .roster-container-button-new-tablet {
    height: 25px;
    width: 67px;
    border-radius: 5px;
    background-color: #525566;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .5px;
  }
  
  .roster-container-button-new-tablet:hover {
      background-color: #C7CBDC;
  }
  
  .roster-container-button-new-1-tablet {
    height: 25px;
    width: 67px;
    border: none;
    background: none;
    padding-right: 67px;
    padding-left: 66px;
  }

  .hr-tablet-aaa {
    border: solid .1px;
    border-color: rgba(104, 104, 104, 0.753) !important;
    width: 260px;
    border-radius: 24px;
  }