@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');


.EditEvent-page {
    background-color: white;
    text-align: center;
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.EditEvent-box {
	height: 410px;
	width: 386px;
	border-radius: 8px;
	background-color: #FFFFFF;
    box-shadow: 0 10px 30px 0 #C7CBDC;
    margin: auto;
    margin-top: 125px;
    padding: 15px 60px 40px 60px;

}

.EditEvent-h4 {
	height: 15px;
	width: 71px;
	color: #4A4A4A;
	font-family: 'Roboto', 'sans-serif';
	font-size: 14px;
	font-weight: 500;
    line-height: 15px;
    margin-bottom: 6px;
    margin-left: 5px;
    padding: 0;
}

.EditEvent-input {
    border: none;
    box-shadow: none;
	height: 36px;
	width: 385px;
	border-radius: 30px;
    background-color: #F2F4FC;
	font-family: 'Roboto', 'sans-serif';
	font-size: 15px;
    font-style: italic;
    padding: 0;
    color: #9B9B9B;
} 

.EditEvent-input::placeholder {
    color: #9B9B9B;
    font-size: 12px;
}

.EditEvent-cancel-button {
    border: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
	height: 38.4px;
	width: 144px !important;
	border-radius: 38.4px;
	background-color: #75798C;
    box-shadow: 0 2px 9px 0 #75798C;
    margin-top: 20px;
}

.EditEvent-submit-button {
    border: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
	height: 38.4px;
	width: 144px;
	border-radius: 38.4px;
	background-color: #2E6FEF;
    box-shadow: 0 2px 9px 0 #75798C;
    margin-top: 20px;
}

.EditEvent-event {
	color: #525566;
	font-family: 'Roboto', 'sans-serif';
	font-size: 19px;
    font-weight: 500;
    padding: 0;
    margin-bottom: -20px;
}

.this-state-team-name-h4 {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 500;
    font-size: 17px;
    color: rgba(13, 67, 205, 0.915);
    margin-bottom: 20px;
    margin-top: 35px;
}


/*TABLET*/
.EditEvent-page-tablet {
    background-color: white;
    text-align: center;
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.EditEvent-box-tablet {
	height: 389px;
	width: 326px;
	border-radius: 8px;
	background-color: #FFFFFF;
    box-shadow: 0 10px 30px 0 #C7CBDC;
    margin: auto;
    margin-top: 65px;
    margin-bottom: 51px;

}

.EditEvent-h4-tablet {
	height: 15px;
	width: 71px;
	color: #4A4A4A;
	font-family: 'Roboto', 'sans-serif';
	font-size: 14px;
	font-weight: 500;
    line-height: 15px;
    margin-bottom: 4px;
    margin-top: 8px;
    margin-left: 10px;
    padding: 0;
}

.EditEvent-input-tablet {
    border: none;
    box-shadow: none;
	height: 36px;
	width: 285px;
	border-radius: 30px;
    background-color: #F2F4FC;
	font-family: 'Roboto', 'sans-serif';
	font-size: 15px;
    font-style: italic;
    padding: 0;
    color: #9B9B9B;
} 

.EditEvent-input-tablet::placeholder {
    color: #9B9B9B;
    font-size: 12px;
}

.EditEvent-cancel-button-tablet {
    border: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14.5px;
	height: 34.4px;
	width: 124px !important;
	border-radius: 38.4px;
	background-color: #75798C;
    box-shadow: 0 2px 9px 0 #75798C;
    margin-top: 16px;
}

.EditEvent-submit-button-tablet {
    border: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14.5px;
	height: 34.4px;
	width: 124px !important;
	border-radius: 38.4px;
	background-color: #2E6FEF;
    box-shadow: 0 2px 9px 0 #75798C;
    margin-top: 16px;
}

.EditEvent-event-tablet {
	color: #525566;
	font-family: 'Roboto', 'sans-serif';
	font-size: 19px;
    font-weight: 500;
    padding: 0;
    margin-bottom: -5px !important;
}

.this-state-team-name-h4-tablet {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 500;
    font-size: 16px;
    color: rgba(13, 67, 205, 0.915);
    margin-bottom: 10px;
}